#nav-bar{
    background-color: #565c68;
    border-bottom: 1px solid #18181f;
}
#logo-img{
    width: 200px;
    height: 50px;
    background: url('/images/intellect_logo.png');
    background-repeat: no-repeat;
}
body{
    background-color: #ebe8e3;
}
.jumbotron{
    min-height: 100vh;
    border-radius: 0;
    background-image: url("../images/jumptrob-img.jpg");
    background-size: cover;
    height: 100%;

}
.plans div{
    border: 2px solid
    #e1cfa9;
}
