#nav-bar{
    background-color: #565c68;
    border-bottom: 1px solid #18181f;
}
#logo-img{
    width: 200px;
    height: 50px;
    background: url('/images/intellect_logo.png');
    background-repeat: no-repeat;
}

